# Ignore dependencies
node_modules
frontend/node_modules
backend/venv

# Ignore build artifacts
frontend/dist
frontend/build

# Ignore version control files
.git
.gitignore

# Ignore IDE and editor files
.vscode
.idea

# Ignore environment files
.env
.env.*

# Ignore Docker files
Dockerfile
.dockerignore

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp
*.swo

# Ignore any other unnecessary files or directories specific to your project